http:
  routers:
    {{ tower_user_name }}-rtr:
      rule: "HostHeader(`{{ tower_user_name }}.tatux.in`)" 
      entryPoints:
        - https
      middlewares:
        - chain-no-auth
      service: {{ tower_user_name }}-svc
      tls:
        certResolver: dns-cloudflare
  services:
    {{ tower_user_name }}-svc:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://{{ _ip_address | join(', ') }}:9090"