http:
  routers:
    {{ servername }}-rtr:
      rule: "HostHeader(`{{ servername }}.tatux.in`)" 
      entryPoints:
        - https
      middlewares:
        - chain-no-auth
      service: {{ servername }}-svc
      tls:
        certResolver: dns-cloudflare
  services:
    {{ servername }}-svc:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://{{ _ip_address | join(', ') }}:9090"